{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block body_block %}
<style>
    .column {
        float: left;
        width: 33.33%;
    }

   
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    #home {
        width: 100%;
        height: 80vh;
    }

    #home-intro {
        width: 100%;
        height: 50vh;
    }

    #testimonials {
        width: 100%;
        height: 100vh;
    }

    body {
        overflow-x: hidden;
    }



    .checked {
        color: #008080;
    }


    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 200px;
        border: 1px solid #f1f1f1;
        perspective: 1000px;
        /* Remove this if you don't want the 3D effect */
    }

    /* This container is needed to position the front and back side */
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    /* Position the front and back side */
    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        /* Safari */
        backface-visibility: hidden;
    }

    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
        background-color: #bbb;
        color: black;
    }

    /* Style the back side */
    .flip-card-back {
        background-color: #022B53;
        color: white;
        transform: rotateY(180deg);
    }
</style>
<section id="home">

    <div class="maincontent" style="padding: 10px; text-align: center; margin-top: 50px;">
       
        <p style="margin-left: 15%; margin-top: 50px; text-align: justify;">
            <span style="color: #022B53; font-size: 40px; font-weight: bold;"> <marquee behavior="alternate" direction="right" width="40%"> 25+ Years Experience as <br> <span style="color: #008080;"> Radiation
                Oncologist</span> </marquee></span>
        </p>

        <p style="margin-left: 15.5%; font-size: 20px; margin-top: 50px; text-align: justify;"> As a dedicated doctor, I
            not only assist my
            patients with<br>
            their healthcare needs but also encourage anyone <br> in need
            of assistance or examination to  consult <br> with me for expert guidance and care.<br>
        </p>
        <div class="row" style="margin-left: 230px; margin-top: 50px">
            <div class="column"><button
                    style="background-color: #022B53;color: #FFFFFF; padding: 20px 50px; border: none; border-radius: 5px;">
                    <a style="color: #FFFFFF;" href="{% url 'download_cv' %}">Download CV</a></button>
                <button style=" padding: 20px 50px;  margin-left: 20px; border-radius: 5px;"> <a href="" style="color: #022B53; border: 1px #022B53; 
           ">Clinical activities</a></button>
            </div>

        </div>
    </div>
    <div class="img" style="position: absolute; top: 15%; right: 5%; ">
        <img src="{% static 'images/dr-primus.png'%}" height="600" width="500"
            style="float: right; margin-right: 25%;">
    </div>
</section>


<section id="home-intro">
    <div class="head" style="position: relative; bottom: 25%; padding-right: 5%;">
    <h4 style="font-weight: 800; font-size: 25px; color: #008080; text-align: center;">About Me</h4>
</div>

    <div class="row" style="position: relative; bottom: -10%;">

        <div class="img" style="padding-left: 15.5%; position: relative; bottom: 100px;">
            <img src="{% static 'images/doclab.jpg'%}" height="400" width="450">
        </div>
        <div id="home-intro-par" style=" margin-left: 10%;">
            <p>
                <span style="color: #022B53;font-weight: bold; font-size: larger;">Hello, I’m Dr. Primus Ochieng</span>
            </p>
            <p style="font-size: 20px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
                sit amet gravida<br> dui. Etiam in euismod sem. Suspendisse lorem quam,
                lobortis ac ultrices ut, eleifend <br>sit amet risus. Aliquam quis
                justo porta, tincidunt est quis, dictum nisi. <br>Suspendisse lorem
                quam, lobortis ac ultrices ut, eleifend sit amet risus.<br> Aliquam
                quis justo porta, tincidunt est quis, dictum nisi.Aliquam<br>
                quis justo porta, tincidunt est quis, dictum nisi.
            </p>

        </div>
    </div>
</section>

<section id="testimonials">
    <h4 style="font-weight: 800; color: #008080; text-align: center; position: relative; bottom: -10%; font-size: 25px;">Patient Testimonials</h4>
<div class="row" style="padding-left: 10rem; position: relative; bottom: -25%;">
    <div class="column">
    <div class=" flip-card">
        <div class="column flip-card-inner">
            <div class="flip-card-front">
                <img src="{% static 'images/felix.jpg'%}" alt="Avatar" style="width:400px;height:450px;">
            </div>
            <div class="flip-card-back">
                <div class="Info">
                    <h1>Felix Omondi</h1>
                
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p style="color: #FFFFFF;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque<br>
                        sit amet gravida dui. Etiam in euismod sem. Suspendisse lorem quam,<br>
                        lobortis ac ultrices ut, eleifend sit amet risus. Aliquam quis<br>
                        justo porta, tincidunt est quis, dictum nisi.Suspendisse lorem<br>
                        quam, lobortis ac ultrices ut, eleifend sit amet risus. Aliquam<br>
                        quis justo porta, tincidunt est quis, dictum nisi.Aliquam<br>
                        quis justo porta, tincidunt est quis, dictum nisi.
                    </p>
                
                </div>
            </div>
        </div>
    </div>
    </div>

        <div class="column">
            <div class=" flip-card">
                <div class="column flip-card-inner">
                    <div class="flip-card-front">
                        <img src="{% static 'images/bashir.jpg'%}" alt="Avatar" style="width:400px;height:450px;">
                    </div>
                    <div class="flip-card-back">
                        <div class="Info">
                            <h1>Muhammed Bashir</h1>
                        
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <p style="color: #FFFFFF;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque<br>
                                sit amet gravida dui. Etiam in euismod sem. Suspendisse lorem quam,<br>
                                lobortis ac ultrices ut, eleifend sit amet risus. Aliquam quis<br>
                                justo porta, tincidunt est quis, dictum nisi.Suspendisse lorem<br>
                                quam, lobortis ac ultrices ut, eleifend sit amet risus. Aliquam<br>
                                quis justo porta, tincidunt est quis, dictum nisi.Aliquam<br>
                                quis justo porta, tincidunt est quis, dictum nisi.
                            </p>
                        
                        </div>
                    </div>
                </div>
                
            </div>

    </div>
<div class="column">
    <div class=" flip-card">
        <div class="column flip-card-inner">
            <div class="flip-card-front">
                <img src="{% static 'images/jane.jpg'%}" alt="Avatar" style="width:400px;height:450px;">
            </div>
            <div class="flip-card-back">
                <div class="Info">
                    <h1>Jane Kariuki</h1>
                
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p style="color: #FFFFFF;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque<br>
                        sit amet gravida dui. Etiam in euismod sem. Suspendisse lorem quam,<br>
                        lobortis ac ultrices ut, eleifend sit amet risus. Aliquam quis<br>
                        justo porta, tincidunt est quis, dictum nisi.Suspendisse lorem<br>
                        quam, lobortis ac ultrices ut, eleifend sit amet risus. Aliquam<br>
                        quis justo porta, tincidunt est quis, dictum nisi.Aliquam<br>
                        quis justo porta, tincidunt est quis, dictum nisi.
                    </p>
                
                </div>
            </div>
        </div>
        
    </div>
</div>
</div>

    
    

</section>




{% endblock %}